body {
  background-color: gainsboro;
}

.jumbotron {
  font-size: 80px;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.form-control {
  padding: 3px;
}
.card {
  padding: 40px;
}

#currentDate {
  margin: 15px;
  font-size: 20px;
  font-weight: 400;
}

button {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: block;
  background-color: ghostwhite;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

.col {
  border-radius: 5px;
}

#forecast {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

img {
  width: 50%;
  height: 50%;
  margin-left: 40px;
}

#wicon {
  width: auto;
  height: auto;
}
